{% extends 'base.html' %} {% block content %}
<h1>Job Listings</h1>
{% for job in jobs %}
<div>
  <h2>{{ job.title }}</h2>
  <p>{{ job.description }}</p>
  <a href="{% url 'jobs:job-detail' job.pk %}">View Details</a>
</div>
{% empty %}
<p>No jobs available.</p>
{% endfor %} {% if jobs.has_other_pages %}
<nav>
  {% if jobs.has_previous %}
  <a href="?page={{ jobs.previous_page_number }}">Previous</a>
  {% endif %} {% if jobs.has_next %}
  <a href="?page={{ jobs.next_page_number }}">Next</a>
  {% endif %}
</nav>
{% endif %} {% endblock %}
